<%# Write your code here! %>
<%# Here we're writing the HTML to show HI! and inserting what was input in the user_name field through a POST method %>
<h1>Hi <%= params[:user_name] %>, nice to meet you!</h1>
